@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5f5f5f;
  border-radius: 5px;
}

@layer components {
  .container {
    @apply mx-auto max-w-[1200px] px-5 xl:px-0;
  }
  .button-primary {
    @apply rounded-md bg-indigo-600/20 px-5 py-2 font-semibold text-white shadow-[0_0_5px_2px] shadow-indigo-600 transition-colors duration-300 hover:shadow-[0_0_5px_5px] hover:shadow-indigo-600;
  }
  .button-secondary {
    @apply rounded-md bg-gradient-to-r from-pink-500 to-pink-700 px-5 py-2;
  }
}
